.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
}
.dialogs .dialogsItems{
    padding: 10px;
    color: white;
}
.dialogsItems .dialog{

}

.active{
    color: gold;
}

.messages{
    padding: 10px;
}
.messages .message{
    color:white;
}